@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiTable-root::-webkit-scrollbar,
.MuiBox-root::-webkit-scrollbar,
.MuiPaper-root::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.MuiTable-root::-webkit-scrollbar-thumb,
.MuiBox-root::-webkit-scrollbar-thumb,
.MuiPaper-root::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.MuiTable-root::-webkit-scrollbar-track,
.MuiBox-root::-webkit-scrollbar-track,
.MuiPaper-root::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

img,
svg {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.mirror-x {
  transform: scaleX(-1);
}

.mirror-y {
  transform: scaleY(-1);
}

@layer components {
  .iconed-text {
    @apply flex items-center gap-2;
  }
}

@media (prefers-color-scheme: dark) {
  .dark img {
    filter: invert(100%);
  }

  .dark .no-invert img,
  .dark .no-invert svg {
    filter: invert(0%);
  }
}
